<div class="container">
    <h4>User Register </h4>
    
    <div class="row">
        <div class="col-md-8">
            <app-user></app-user>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <app-user-list></app-user-list>
        </div>
    </div>
</div>