<div class="container">
    <h4>Project Register </h4>
    
    <div class="row">
        <div class="col-md-8">
            <app-project></app-project>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10">
            <app-project-list></app-project-list>
        </div>
    </div>
</div>
