<form #form="ngForm" (submit)="onsubmit(form)" autocomplete="off"
   style="padding:25px; width:60%; min-width:250px;">

   {{this.currentTask | json}} 
   <h4>Update Task</h4> 

<div class="container rounded bg-dark">

    <div class="form-group">
        <label for="projectName" class="control-label">Project Name</label> 
         <div class="form-row">
           <div class="col-sm-8">
            <input id="projectName" type="text" name="projectName" #projectNameCtrl="ngModel"  readonly
              [(ngModel)] ="this.currentTask.projectName" class="form-control" required >
           </div>
           <div class="col-sm-4"></div>
         </div>     
      </div>
  <div class="form-group"
  [class.has-error]="taskNameCtrl.touched && taskNameCtrl.invalid"
  [class.has-success]="taskNameCtrl.isvalid">
 <label for="taskName" class="control-label">Task Name</label>  
 <input id="taskName" type="text" name="taskName" #taskNameCtrl="ngModel" 
  maxlength="50" [(ngModel)] ="this.currentTask.taskName" class="form-control" required >
 <span class="help-block error" 
  *ngIf="taskNameCtrl.touched && taskNameCtrl.invalid">Task Name required
 </span>
  </div>

   <div class="form-group">
    <div class="form-row">
        <div class="col-sm-4">
          <div class="form-check">
                <input type="checkbox" class="form-check-input" [disabled]="this.dbIsParentTask"  name="isParentTask" IsParentTaskCtrl="ngModel" [(ngModel)] ="this.currentTask.isParentTask" >
                <label class="control-label" style="color: white;" for="IsParentTaskCtrl">Parent Task</label>
         </div> 
        </div>
    </div>
   </div>

  <div class="form-group">
    <label>Priority</label>  
    <input type="range" min="0" max="30"  value="0" 
    [disabled] ="this.dbIsParentTask ||this.currentTask.isParentTask"
    id="priority" name="priority" #priorityCtrl="ngModel" 
    [(ngModel)] ="this.currentTask.priority" class="custom-range">
    <span class="control-label">{{this.currentTask.priority}}</span>
  </div>

  <div class="form-group">
    <label for="parentTaskName" class="control-label">Parent Task Name</label> 
     <div class="row">
       <div class="col-sm-8">
        <input id="parentTaskName" type="text" name="parentTaskName" #parentTaskNameCtrl="ngModel" readonly
          [(ngModel)] ="this.currentTask.parentTaskName" class="form-control" >
          <span class="help-block" 
            *ngIf="parentTaskNameCtrl.touched
                && this.currentTask.parentTaskName==''
                && !this.currentTask.isParentTask">Parent Task required, Use Search Option
      </span>
        </div>
       <div class="col-sm-4">
        <button type="button" name="taskSearch" 
        [disabled] ="this.dbIsParentTask ||this.currentTask.isParentTask"
         data-toggle="modal" data-target="#taskModal" class="btn btn-primary">Search</button>   
      </div>
     </div>     
  </div>

     <div class="form-group">
    <div class="form-row">
   <div class="form-group md-col-6">
      <label for="startDate">Start Date</label>  
      <input type="text" ng-model-options="{timezone:'local'}" bsDatepicker [bsConfig]="datepickerConfig" required id="startDate" 
       value="{{this.currentTask.startDate|date:'dd/MM/yyyy'}}"
       disabled ="this.dbIsParentTask || this.currentTask.isParentTask"
       name="startDate" #startDateCtrl="ngModel"  [(ngModel)] ="this.currentTask.startDate" 
      class="form-control"/>
   <span class="help-block"  *ngIf="startDateCtrl.touched && startDateCtrl.invalid">
      Start Date required </span>
 </div>
  <div class="form-group md-col-6">
      <label for="endDate">End Date</label>  
      <input type="text" ng-model-options="{timezone:'local'}"  bsDatepicker [bsConfig]="datepickerConfig"  required 
      disabled ="this.dbIsParentTask || this.currentTask.isParentTask"
      id="endDate" name="endDate" #endDateCtrl="ngModel" value="{{this.currentTask.endDate|date:'dd/MM/yyyy'}}"
      [(ngModel)] ="this.currentTask.endDate" class="form-control"/>
          <span class="help-block" 
  *ngIf="endDateCtrl.touched && endDateCtrl.invalid">End Date required
 </span>
</div>
    </div>
    <div class="form-group">
        <label for="taskUserName" class="control-label">Task User </label> 
         <div class="form-row">
           <div class="col-sm-8">
            <input id="taskUserName" type="text" name="taskUserName" #taskUserNameCtrl="ngModel" readonly
              [(ngModel)] ="this.currentTask.taskUserName" [disabled] ="this.currentTask.isParentTask" class="form-control" >
           
              <span class="help-block" 
            *ngIf="taskUserNameCtrl.touched
                    && this.currentTask.parentTaskName==''
                    && !this.currentTask.isParentTask"> Task user required, Use Search Option
          </span>
            </div>
           <div class="col-sm-4">
            <button type="button" name="userSearch"  data-toggle="modal" data-target="#UserModal" class="btn btn-primary">Search</button>   
          </div>
         </div>     
      </div>

    <div class="form-group" style="padding-bottom:10px;" >
     <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>    
    </div>
   </div>

   
</div>



<!-----------  Modal Dialog Users  !-->
<div class="modal" id="UserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <div class="row">
            <div class="col-md-2">
              Filter Users :
            </div>
            <div class="col-md-10">
              <input id="filterUsrName" type="text" class="form-control" 
              name="filterUsrName" #filterUsrNameCtrl=ngModel [(ngModel)] ="this.currentTask.filterUsrName" >  
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive"  >
                <table id="usertable" class="table table-bordred table-striped table-hover">
                  <thead>
                      <tr>
                        <td>Employee Id </td>
                        <td>First Name</td>
                        <td>Last Name</td>
                      </tr>
                  </thead>
                  <tbody *ngFor="let u of this.taskUsers| UserFilter:this.currentTask.filterUsrName">
                    <tr  class="info" (click)="selectUser($event, u)" >
                      <td>{{u.employeeId}}</td>
                      <td>{{u.firstName }}</td>
                      <td>{{u.lastName }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="!taskUsers || taskUsers.length ==0">
                    <label style="color:red">No Users found</label> 
              </div>
            </div>
          </div>  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >OK</button>
          <button type="button" class="btn btn-secondary" (click) ="UnSelectUser()" data-dismiss="modal" >Clear</button>
          
        </div>
      </div>
    </div>
  </div>
  
  
  <!-----------  Modal Dialog tasks  !-->
  <div class="modal" id="taskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Tasks</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
          
          <div class="row">
              <div class="col-md-2">
                Filter Tasks :
              </div>
              <div class="col-md-10">
                <input id="filterTskName" type="text" class="form-control" 
                name="filterTskName" #filterTskNameCtrl=ngModel [(ngModel)] ="this.currentTask.filterTskName" >  
              </div>
          </div>
  
  
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive" >
                <table id="usertable" class="table table-bordred table-striped">
                  <thead>
                      <tr>
                        <td>Task Name </td>
                        <td>Start Date</td>
                        <td>End Date</td>
                      </tr>
                  </thead>
                  <tbody *ngFor="let t of this.tasks | TaskFilter: this.currentTask.projectName : this.currentTask.filterTskName : 0 ">
                    <tr  class="info" (click)="selectParentTask($event, t)" >
                      <td>{{t.taskName}}</td>
                      <td>{{t.startDate|date:'dd/MM/yyyy' }}</td>
                      <td>{{t.endDate|date:'dd/MM/yyyy' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="!tasks || tasks.length ==0">
                    <label style="color:red">No Users found</label> 
              </div>
            </div>
          </div>  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >OK</button>
          <button type="button" class="btn btn-secondary" (click) ="UnSelectParentTask()" data-dismiss="modal" >Clear</button>
          
        </div>
      </div>
    </div>
  </div>

</form>

