.spinner {
 
  border :16px solid silver;
  border-top: 16px solid #337AB7;
  border-radius: 50%;
  width:80px;
  height: 80px;
  animation: spin 700ms liner infinite;
  top: 50%;
  left:50%;
  position:absolute;
}

@keyframes spin {

0% {transform: rotate(0deg)}
100% {transform: rotate(-360deg)}

}