<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"
style="padding:10px;  min-width:300px;" >


<div class="container rounded bg-dark">


  <div  style="padding-top:15px;padding-bottom:5px;" >  
    <input type="hidden" name="projectId" #projectId="ngModel" [(ngModel)]="this.service.curProject.projectId">
    <input type="hidden" name="managerId" #managerId="ngModel" [(ngModel)] ="this.service.curProject.managerId">
    <input type="hidden" name="status" #status="ngModel" [(ngModel)] ="this.service.curProject.status">

     <div class="form-group">
         <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Project Name</span>
            </div>        
            <input name="projectName"
             aria-label="projectName" aria-describedby="basic-addon1"
             maxlength="50" #projectName="ngModel" [(ngModel)] ="this.service.curProject.projectName" class="form-control" required>
        </div>
        <div class="validation-error" *ngIf="projectName.touched && projectName.isvalid">Project Name is required</div>
     </div>
     <div class="form-group">
      <div class="row">
          <div class="col-sm-4">
              <div class="form-check">
                  <input type="checkbox" name="hasProjectDate" (change)="SetControls(form)"  class="form-check-input" hasProjectDate="ngModel" [(ngModel)] ="this.service.curProject.hasProjectDate" >
                  <label class="control-label" style="color: white;" for="hasProjectDate">Set Start and EndDate</label>
              </div>    
          </div>
          <div class="col-sm-4">
              <input type="text"  bsDatepicker [bsConfig]=datepickerConfig required  
      value="{{this.service.curProject.startDate|date:'dd/MM/yyyy' }}"
            [disabled]="disableCtrl"
      name="startDate" #startDate="ngModel"    [(ngModel)] ="this.service.curProject.startDate" 
          class="form-control">
          </div>
          <div class="col-sm-4">
              <input type="text"  bsDatepicker [bsConfig]=datepickerConfig  required 
              name="endDate" #endDate="ngModel" 
              [disabled]="disableCtrl"
              value="{{this.service.curProject.endDate|date: 'dd/MM/yyyy'}}"
              [(ngModel)] ="this.service.curProject.endDate" class="form-control"   >    
          </div>
      </div>
      
     </div>

     <div class="form-group">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Priority</span>
            </div>
            <input type="range" min="0" max="30"  value="0" 
             name="priority" #priority="ngModel"  value="priority.value"
             [disabled]="disableCtrl"
  [(ngModel)] ="this.service.curProject.priority" class="form-control">
  <span class="input-group-text">{{priority.value}}</span>
      
  </div>
     </div>
  
     <div class="form-group">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Manager Name</span>
            </div>
  
      <input name="managerName"  type="text"
      aria-label="managerName" aria-describedby="basic-addon1"
      
      readonly  #managerName="ngModel" [(ngModel)] ="this.service.curProject.managerName" class="form-control" required>
      
      <button name="searchManager" [disabled]="disableCtrl" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#UserModal" 
                >Search</button>
      </div>
      
     </div>
  
  <div class="form-group" style="padding-bottom:10px;" >
      <button type="submit"  class="btn btn-primary mr-2">Submit</button>        
      <button type="button"  (click)="Clear()" class="btn btn-primary">Reset</button>   
  </div>
  </div>
</div>
    

<div class="modal" id="UserModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Users</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-2">
            Filter Users :
          </div>
          <div class="col-md-10">
            <input type="text" class="form-control" 
            name="filterUsrName" #filterUsrNameCtrl=ngModel [(ngModel)] ="this.filterUsrName" >  
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive"  >
              <table id="musertable" class="table table-bordred table-striped table-hover">
                <thead>
                    <tr>
                      <td>Employee Id </td>
                      <td>First Name</td>
                      <td>Last Name</td>
                    </tr>
                </thead>
                <tbody *ngFor="let u of this.users| UserFilter:this.filterUsrName">
                  <tr  class="info" (click)="selectUser($event, u)"
                  [ngClass] = "{'highlight' : u.userName === managerName}"
                   >
                    <td>{{u.employeeId}}</td>
                    <td>{{u.firstName }}</td>
                    <td>{{u.lastName }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!users || users.length ==0">
                  <label style="color:red">No Users found</label> 
            </div>
          </div>
        </div>  

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" >OK</button>
        <button type="button" class="btn btn-secondary" (click) ="UnSelectUser()" data-dismiss="modal" >Clear</button>
        
      </div>
    </div>
  </div>
</div>



    </form>

    
    
