span
{
    font-weight:bold; 
    background-color:whitesmoke;
}

button
{
  padding-left: 10px;

}

/* #projecttable ,#UserModal,#taskModal
{
  display: block;
  height: 350px;
  overflow: scroll;
}   */


.well {
  background: none;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #CFF5FF;
}

tr.selected td {
  background-color: #333;
  color: #fff;    
}

table tr.highlight
{
  background-color: rgb(211, 28, 28);
  color: #fff; 
}
 