<div class="container">
  
    <h3>View Tasks</h3>
    <div  class="container rounded bg-dark">
      <div class="row" style="padding-top:5px;padding-bottom:5px;" >
        
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-2">
                    <label for="projectName" >Project </label>  
                </div>                
                 <div class="col-sm-8">
                  <input name="projectName" readonly class="form-control" [(ngModel)]="projectName" maxlength="50"/>  
                 </div>
                 <div class="col-sm-2">
                  <button name="searchProject" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModal" 
                  >Search</button></div>
              </div>
               
              <div class="row" style="padding-top:5px;">
                 <div class="col-sm-2">
                  <label  >Sort By </label>    
                 </div>
                 <div class ="col-sm-10">
                  <button name="StartDate" (click)="sortByStart()"  class="btn btn-primary btn-xs mr-2"  
                  >Start Date</button>
                  <button name="EndDate" (click)="sortByEnd()"  class="btn btn-primary btn-xs mr-2"  
                  >End Date</button>
                  <button name="Priority" (click)="sortByPriority()" class="btn btn-primary btn-xs mr-2"  
                  >Priority</button>
                  <button name="Completed" (click)="sortByCompletion()" class="btn btn-primary btn-xs mr-2"  
                  >Completed</button> 
                </div>
              </div>
            </div> 
    </div>
  </div>

    <div class="container" style="padding-top:5px;" >
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive"  >
        <table id="mytable" class="table table-bordred table-striped">
          
          <tbody *ngFor="let t of tasks | TaskFilter:projectName :taskName:taskId|paginate: { itemsPerPage: 3, currentPage: p }">
              <tr>
                  <td>Task </td>
                  <td>Parent Task</td>
                  <td>Priority</td>
                  <td>Start Date</td>
                  <td>End Date</td>
                  <td></td>
                  <td></td>
                </tr>
            <tr  class="info">
              <td>{{t.taskName}}</td>
              <td>{{t.parentTaskName}}</td>
              <td>{{t.priority}}</td>
              <td>{{t.startDate|date:'dd/MM/yyyy' }}</td>
              <td>{{t.endDate|date:'dd/MM/yyyy' }}</td>
              <td colspan="2">
                <div *ngIf="t.isTaskEnded ==false;  else elsecondition">
                   <div class="row">
                     <div style="padding:5px;">
                        <button name="editbtn" class="btn btn-primary btn-xs" 
                          [routerLink] ="['/updatetask/', t.taskId]"
                          >Edit  </button>
                     </div>
                      <div style="padding:5px;">
                          <button name="endtask" (click)="EndOfTask(t)" class="btn btn-primary btn-xs"  
                          >End Task</button> 
                      </div>   
                   </div>
                </div>
                <ng-template #elsecondition>
                     <label>Task ended</label> 
                </ng-template>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr><td colspan="4">
          <ul class="pagination">  
            <pagination-controls (pageChange)="p = $event"></pagination-controls>  
            </ul>
          </td></tr>
          </tfoot>
        </table>
      </div>
      <div *ngIf="!tasks || tasks.length ==0">
            <label style="color:red">No Tasks created</label> 
      </div>
    </div>
  </div>
    </div>

 
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Projects</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-md-2">
                Filter Projects:
              </div>
              <div class="col-md-10">
                <input id="filterPrjName" type="text" class="form-control" 
            name="filterPrjName" #filterPrjNameCtrl=ngModel [(ngModel)] ="this.filteredPrjName" >  
              </div>


            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive"  >
                  <table id="projecttable" class="table table-bordred table-striped table-hover">
                    <thead>
                      
                        <tr>
                          <td>Project Name </td>
                          <td>Start Date</td>
                          <td>End Date</td>
                          
                        </tr>
                      
                    </thead>
                    <tbody *ngFor="let pr of projects | ProjectFilter:filteredPrjName">
                        
                      <tr  class="info" (click)="selectProject( $event, pr)" 
                      [ngClass] = "{'highlight' : pr.projectName === projectName}"
                       >
                        <td>{{pr.projectName}}</td>
                        <td>{{pr.startDate|date:'dd/MM/yyyy' }}</td>
                        <td>{{pr.endDate|date:'dd/MM/yyyy' }}</td>
                        
                      </tr>
                    </tbody>
                    
                  </table>
                </div>
                <div *ngIf="!projects || projects.length ==0">
                      <label style="color:red">No prjects created</label> 
                </div>
              </div>
            </div>  

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" >OK</button>
            <button type="button" class="btn btn-secondary" (click) ="UnSelectProject()" data-dismiss="modal" >Clear</button>
            
          </div>
        </div>
      </div>
    </div>