<div class="container">
        <div class="row" style="padding-top:5px;padding-bottom:5px;" >
            <div class="col-sm-12">
              <div class="row">
                  <div class="col-sm-1">
                      <label >Search  </label>  
                  </div>                
                   <div class="col-sm-4">
                    <input name="UserName" class="form-control" [(ngModel)]="UserName" maxlength="50"/>  
                   </div>
                   <div class="col-sm-1">
                    <label> Sort </label>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" name="FirstName" (click)="sortByFirst()" class="btn btn-primary btn-xs mr-2" >FirstName </button>  
                    <button type="button" name="LastName" (click)="sortByLast()" class="btn btn-primary btn-xs mr-2" >LastName </button> 
                    <button type="button" name="Id" (click)="sortByEmployeeId()" class="btn btn-primary btn-xs mr-2" >Id</button>
                  </div>
                </div> 
              </div>
            </div> 
</div>
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="table-responsive"  >
          <table id="mytable" class="table table-bordred table-striped">
            
            <tbody *ngFor="let u of this.service.userList | UserFilter: UserName|paginate: { itemsPerPage: 2, currentPage: p }">
              <tr  class="info">
                <td>
                  <div class="row">
                     <div class="col-md-10">
                      <ul class="list-group ">
                        <li class="list-group-item list-group-item-primary">{{u.firstName}}</li>
                        <li class="list-group-item list-group-item-dark">{{u.lastName}}</li>
                        <li class="list-group-item list-group-item-primary">{{u.employeeId}}</li>
                      </ul>
                     </div>
                     <div class="col-md-2">
                        <div class="row">
                          <div style="padding:5px;">
                           <button name="editbtn" class="btn btn-primary btn-xs" 
                             (click)="populateForm(u)"
                             >Edit  </button>
                        </div>
                         <div style="padding:5px;">
                             <button name="endUser" (click)="EndOfUser(u.userId)" class="btn btn-primary btn-xs"  
                             >Delete</button> 
                         </div>   
                      </div>
                     </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <ul class="pagination">  
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                    </ul>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div *ngIf="! this.service.userList || this.service.userList.length ==0">
              <label style="color:red">No Users created</label> 
        </div>
      </div>
    </div>
  </div>
   
  
