/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

.form-group>input {
    font-weight: bolder;
  }
  
  .form-group>label {
    font-weight: lighter;
    color: #fff;
  }
  
  button[type="submit"] {
   background-color: #67dfd4;
  color: #fff;
  }
  
  .jumbotron {
    background-color: #fff;
    padding-top :32px;
  
  }
  
  table tr:hover {
    cursor:pointer;
  }
  
  input.ng-touched.ng-invalid {
    border-color:#dc3545;
  }
  
  div.validation-error {
  
   width: 100%;
   margin-top: .25rcm;
   font-size:80%;
   color:#dc3545;
  }
  
  #toast-container > div {
    opacity:1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}
  