<div class="container">
        <div class="row" style="padding-top:5px;" >
            <div class="col-sm-12">
              <div class="row">
                  <div class="col-sm-2">
                      <label >Search By </label>  
                  </div>                
                   <div class="col-sm-8">
                    <input name="ProjectName" class="form-control" [(ngModel)]="ProjectName" maxlength="50"/>  
                   </div>
                   <div class="col-sm-2"></div>
               </div>
               <div class="row" style="padding-top:5px;">
                <div class="col-sm-2">Sort</div>
                  <div class="col-sm-10">
                    <button type="button" name="StartDate" (click)="sortByStart()" class="btn btn-primary btn-xs mr-2" >Start Date </button>  
                    <button type="button" name="EndDate" (click)="sortByEnd()" class="btn btn-primary btn-xs mr-2" >End Date </button> 
                    <button type="button" name="Priority" (click)="sortByPriority()" class="btn btn-primary btn-xs mr-2" >Priority</button>
                    <button type="button" name="Completed" class="btn btn-primary btn-xs mr-2" >Completed</button>
                  </div>
                </div> 
              </div>
            </div> 
</div>
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="table-responsive"  >
          <table id="mytable" class="table table-bordred table-striped">
            
            <tbody *ngFor="let pr of this.service.projectList | ProjectFilter: ProjectName|paginate: { itemsPerPage: 2, currentPage: p }">
              <tr  class="info">
                <td colspan="2" style="padding:2px;">
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">Project : {{pr.projectName}}</li>
                    <li class="list-group-item list-group-item-dark">
                        <div class="row"> 
                            <div class="col-sm-6">
                                Number Of Taks : {{pr.taskCount}}
                            </div>
                            <div class="col-sm-6">
                                Completed Taks : {{pr.completedCount}}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-success">
                        
                        <div class="row"> 
                            <div class="col-sm-6">
                                Start Date : {{pr.startDate|date:'dd/MM/yyyy'}}
                            </div>
                            <div class="col-sm-6">
                                End Date : {{pr.endDate|date:'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </li>
                  </ul> 
                </td>
                <td style="padding:2px;"> 
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">Priority</li>
                    <li class="list-group-item list-group-item-dark">  </li>
                    <li class="list-group-item list-group-item-dark"> {{pr.priority}} </li>
                  </ul>   
                </td>
                <td>
                     <div class="row">
                       <div style="padding:5px;">
                          <button name="editbtn" class="btn btn-primary btn-xs" 
                            (click)="populateForm(pr)"
                            >Edit  </button>
                       </div>
                        <div style="padding:5px;">
                            <button name="endprj" (click)="EndOfProject(pr.projectId)" class="btn btn-primary btn-xs"  
                            >Suspend</button> 
                        </div>   
                     </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <ul class="pagination">  
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                    </ul>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div *ngIf="! this.service.projectList || this.service.projectList.length ==0">
              <label style="color:red">No Users created</label> 
        </div>
      </div>
    </div>
  </div>
   


