<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"
    style="padding:10px;  min-width:300px;">

<div class="container rounded bg-dark"> 
    <div  style="padding-top:10px;padding-bottom:5px;" >      
<input type="hidden" name="userId" #userId="ngModel" [(ngModel)]="this.service.currentUsr.userId">
<input type="hidden" name="isActive" #isActive="ngModel" [(ngModel)] ="this.service.currentUsr.isActive">
 <div class="form-group">
     <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">First Name</span>
        </div>        
        <input name="firstName"
         aria-label="firstName" aria-describedby="basic-addon1"
         maxlength="50" #firstName="ngModel" [(ngModel)] ="this.service.currentUsr.firstName" class="form-control" required>
    </div>
    <div class="validation-error" *ngIf="firstName.invalid && firstName.touched">FirstName is required</div>
 </div>

 <div class="form-group">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Last Name</span>
          </div>
    
            <input name="lastName"
                 aria-label="lastName" aria-describedby="basic-addon1"
                maxlength="50" #lastName="ngModel" [(ngModel)] ="this.service.currentUsr.lastName" class="form-control" required>
    </div>
    <div class="validation-error" *ngIf="lastName.invalid && lastName.touched">LastName is required</div>
</div>

<div class="form-group">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Employee Id</span>
          </div>

    <input name="employeeId" 
     aria-label="employeeId" aria-describedby="basic-addon1"
    type="number" maxlength="6" #employeeId="ngModel" [(ngModel)] ="this.service.currentUsr.employeeId" class="form-control" required>
    </div>
    <div class="validation-error" *ngIf="(employeeId.invalid && employeeId.touched)">EmployeeId is required or invalid </div>
</div>

<div class="form-group" style="padding-bottom:5px;" >
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary mr-2">Submit</button>        
    <button type="button"  (click)="Clear()" class="btn btn-primary">Reset</button>   
</div>
</div>
</div>
</form>
